<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Raspberry Pi weather station</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body>
    <div class="p-3">
        <div class="pb-2"><b>Temperature</b>: {{ temperature }} &deg;C </div>
        <div class="pb-2"><b>Pressure</b>: {{ pressure }} hPa </div>
        <div class="pb-2"><b>Humidity</b>: {{ humidity }} % </div>
        <div class="pb-2"><b>PM25</b>: {{ pm25 }} &micro;g/m&sup3; </div>
        <div class="pb-2"><b>PM10</b>: {{ pm10 }} &micro;g/m&sup3; </div>
        <br/>
        <a href="/history/5">Weather history</a>
    </div>
</body>
</html>